@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body{
    background-image: url('../assets/background-world-map-1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.App{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.homeDash{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 75px auto;
    margin-bottom: 75px;
}
.copy{
    height:30px;
    width: 100%;
    background-color: #05091F;
    box-shadow: 0px -3px 25px #05091f;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:#ffffff;
    position: fixed;
    bottom:0px;
}
