@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.mainpage{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: -1;
    background-image: url('../assets/nubelson-fernandes-Y376h7VN27c-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.me{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100vh;
    border: 1px solid rgb(73, 73, 73);
    background: transparent;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.719);
    border-radius: 10px;
}
.myimg{
    height: 200px;
    width: 200px;
    border-radius: 80%;
    margin: 20px;
    box-shadow: 5px 5px 10px #000000b4;
}
.content{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 10px 70px;
}
.content p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    color: #b9b9b9;
}
.socialLinks{
    margin-top:40px;
    margin-bottom:10px;
}

.socialLinks a img{
    margin: 5px;
    transition: all 0.3s linear;
}
.socialLinks a img:hover{
    transform: scale(1.2);
}
.codechef img{
    height: 48px;
    width: 48px;
    border-radius: 80%;
    margin-bottom: 4px;
}
.disclaimer{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;

}

@media (max-width: 571px){
    .myimg{
        height: 180px;
        width: 180px;
    }
    .content{
        font-size: 1rem;
        margin: 10px 20px;
    }
    .content p{
        font-size: 1.2rem;
    }
    .socialLinks a img{
        height: 40px;
        width: 40px;
    }
    .socialLinks{
        margin-top:30px;
        margin-bottom:10px;
    }
    .disclaimer{
        font-size: 1rem;
    }
}