@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
.mainErrorBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 100px;
}
.mainErrorBox p{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000b7;
    font-size: 3rem;
}