@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
.nav_block{
    position: fixed;
    height:60px;
    width: 100%;
    background-color: #05091F;
    box-shadow: 0px 3px 10px #05091f;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
}
.covid-icon{
    animation: spin 10s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.navbtn{
    width: 40px;
    height: 40px;
    position: fixed;
    border: 1px solid #7e7e7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* margin: 5px; */
    margin-left:10px ;
    cursor: pointer;
}
.lines{
    width: 20px;
    height: 2px;
    background-color: #ffffff;
}
.barOff{
    margin-top: 8px;
    transition: all 0.2s linear;
}
.barOff1{
    margin-top: 8px;
    transition: all 0.2s linear;
}
.barOn{
    margin-top: 0px;
    margin-bottom: -8px;
    transform: rotate(-45deg);
    transition: all 0.2s linear;
}
.barOn1{
    margin-top: 6px;
    transform: rotate(45deg);
    transition: all 0.2s linear;
}
.navOFF{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #05091F;
    box-shadow: 3px 3px 10px #05091f9a;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Libre Franklin', sans-serif;
    background-color: none;
    font-size: 1.1rem;
    position: fixed;
    top: 10%;
    transform:scale(0);
    opacity: 0;
    transition: all 0.2s linear;
}
.navON{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #05091F;
    box-shadow: 3px 3px 10px #05091f9a;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Libre Franklin', sans-serif;
    background-color: none;
    font-size: 1.1rem;
    position: fixed;
    top: 9%;
    /* transform: rotateY(0deg); */
    transition: all 0.3s linear;
}
.links{
    display: flex;
    flex-direction: row;
    padding: 20px;
    transition: all 0.2s linear;
    outline: none;
    text-decoration: none;
    color:#aaaaac;
}
.links div{
    padding-left: 35px;
}
.links:hover{
    color: #ffffff;
    background: #7e90be49;
    border-left: 8px solid #7e90be;
}
.links:focus{
    color: #ffffff;
    background: #7e90be49;
    border-left: 8px solid #7e90be;
}

@media (max-width:520px){
    .nav_block{
        height:40px;
    }
    .navbtn{
        width: 20px;
        height: 20px;
    }
    .lines{
        width: 10px;
        height: 1px;
        background-color: #ffffff;
    }
    .barOff{
        margin-top: 4px;
        transition: all 0.2s linear;
    }
    .barOff1{
        margin-top: 4px;
        transition: all 0.2s linear;
    }
    .barOn1{
        margin-top: 7px;
    }
}