@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.IndiaStatemain table{
box-shadow: 3px 3px 18px #000000b9;
}
.IndiaStatemain h1 {
    font-family: 'Lato', sans-serif;
}
.IndiaStatemain table {
    border: 1px solid #000000;
    border-collapse:collapse;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.IndiaStatemain table thead tr th{
    background-color: #05091F;
    padding: 5px 30px;
    border: 1px solid #000000;
    color: #fff;
}
.IndiaStatemain table tbody tr td{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 5px 30px;
    border: 1px solid #000000;
    color: #000000;
}
.T_Confirmed{
    transition: all 0.2s linear;
}
.T_Confirmed:hover{
    color:#ff0905;
    background-color: #FFDECD;
}
.T_State{
    transition: all 0.2s linear;
}
.T_State:hover{
    color:#6300DB;
    background-color: #F0CCFF;
}
.T_Active{
    transition: all 0.2s linear;
}
.T_Active:hover{
    color: #0030DA;
    background-color: #CBDDFE;
}
.T_Recovered{
    transition: all 0.2s linear;
}
.T_Recovered:hover{
    color: #25ff07;
    background-color: #E3FFCD;
}
.T_Deceased{
    transition: all 0.2s linear;
}
.T_Deceased:hover{
    color: #343232;
    background-color: #bbbbbb;
}
.T_Updated{
    transition: all 0.2s linear;
}
.T_Updated:hover{
    color: #00327A;
    background-color: #CDFBFF;
}
@media (max-width:520px) {
    .IndiaStatemain {
        height: 90%;
        width: 100%;
        position:fixed;
        left: 0;top: 5%;
        overflow: scroll;
        z-index: -10;
    }
}